<!DOCTYPE html>
<html>
<head>
  <title>Geoipsum</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'polymaps' %>
  <%= stylesheet_link_tag 'blueprint/print' %>
  <%= stylesheet_link_tag 'blueprint/screen' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Copse' %>
  <%= csrf_meta_tag %>
</head>
<body style="">

<%= yield %>

</body>
</html>
