<!DOCTYPE html>
<html>
<head>
  <title>Geoipsum</title>
  <%= stylesheet_link_tag :all %>
  
  <%= javascript_include_tag 'polymaps' %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js' %>
 
  <%= stylesheet_link_tag 'blueprint/print' %>
  <%= stylesheet_link_tag 'blueprint/screen' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Copse' %>
  <%= csrf_meta_tag %>


</head>
<body style="">

<%= yield %>

</body>
</html>
